* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body {
    font-family: 'Gilroy',
    -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,
    "Helvetica Neue",Arial,sans-serif,"Apple Color Emoji",
    "Segoe UI Emoji","Segoe UI Symbol";
    font-style: normal;
    font-size: 1.0rem;
    line-height: 1.6;
    background-color: #ECEFF1;
    position: relative;
    height: 100vh;
}
/* header */
.header {
    background-color: #3359DF;
    color: #ffffff;
    padding: 0.8rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    -webkit-box-shadow: 0 3px 5px #ccc;
            box-shadow: 0 3px 5px #ccc;
    width: 100%;
}
/* wrapper */
.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem;
    width: 345px;;
    max-width: 100%;
    background-color: #ffffff;
    margin: 3em auto;
    border-radius: 5px;
}
.btn-convert {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 120px;
    padding: 10px;
    font-size: 0.8rem;
    background: #000046; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3359DF, #1cb5e0); /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#3359DF), to(#1cb5e0));
    background: -webkit-linear-gradient(left, #3359DF, #1cb5e0);
    background: -o-linear-gradient(left, #3359DF, #1cb5e0);
    background: linear-gradient(to right, #3359DF, #1cb5e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    color: #ffffff;
    -webkit-box-shadow: 3px 3px 5px #ccc;
            box-shadow: 3px 3px 5px #ccc;
    border-radius: 3px;
    font-weight: 500;
    margin: 1.5rem 0;
    cursor: pointer;
}
span {
    font-weight: 300;
    color: #888888;
    font-size: 0.9rem;
}
input.amount, select {
    margin: 1rem 0;
    border: none;
    border-bottom: 1px solid #ccc;
    color: #3c3c3ce8;
}
.converted-amount {
    border: 1px solid #ccc;
    text-align: center;
    font-weight: 500;
    height: 25px;
}
.summary {
    text-align: center;
    color: #3359DF;
    margin-bottom: 1em;
}
footer {
    position: absolute;
    bottom: 0;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
    background-color: #373737;
    color: #ffffff;
}
a {
    color: #ffffff;
}